:root {

    --main-color: rgb(255,255,255);
    
    --second-color:
    rgb(255,120,88);

    --black: rgb(23.36.50);

    --card-color: #FFF8F1;

    --font-intestazione: "Playfair Display", serif;

    --font-paragrafo: "Rubik", sans-serif;


}
